numpy
#leapythontoolbox~=0.1.0
# have to do manually: pip install -e ~/git/lea_python_toolbox/
PyQt5~=5.15.7
matplotlib~=3.6.2
dotmap~=1.3.30
setuptools~=63.2.0
tqdm~=4.64.1
serial
pandas
pygeckocircuits2